.item-details {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f4f4f4;
  height: 85vh;
}

.course-details {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 60vh;
}

.course-img {
  max-width: 30vw;
  margin-right: 20px;
  height: 50vh;
}

.course-content {
  flex: 1;
  color: #000;
}

.course-heading {
  font-size: 24px;
  margin: 0;
}

.course-para {
  font-size: 16px;
  margin: 10px 0 0 0;
  line-height: 1.5;
}

.loading {
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .course-details {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .course-img {
    max-width: 70%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .course-heading {
    font-size: 22px;
  }

  .course-para {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .course-details {
    padding: 10px;
  }

  .course-img {
    max-width: 90%;
    height: auto;
  }

  .course-heading {
    font-size: 20px;
  }

  .course-para {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .item-details {
    padding: 10px;
    height: auto;
  }

  .course-details {
    padding: 10px;
    box-shadow: none;
    background-color: #fff;
  }

  .course-heading {
    font-size: 18px;
  }

  .course-para {
    font-size: 12px;
  }

  .course-img {
    max-width: 100%;
    height: auto;
  }
}
