.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; /* Center the list in the container */
    padding: 20px; /* Add padding around the list */
}

.course-item {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
}

@media (max-width: 768px) {
    .course-item {
        flex: 0 0 calc(50% - 20px);
    }
}
